SERVER_PORT=3000

MONGODB_URI=mongodb://localhost:27017/studysync

EMAIL_RESEND_API_KEY=your_resend_api_key_here
EMAIL_FROM=noreply@ayushsingla.dev

FRONTEND_URL=http://localhost:5173

JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_EMAIL_SECRET=
JWT_PASSWORD_RESET_SECRET=
JWT_EMAIL_EXPIRES_IN=
JWT_PASSWORD_RESET_EXPIRES_IN=
